@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
html, body{ height:100% }
.no-pad { padding:0px;}
.no-pad-left{ padding-left:0px !important;}
body{margin:0px;padding:0px;font-family: 'Fira Sans Condensed', sans-serif;color: #1e212b !important; width:100%; height:100%;}
h3{ font-size:20px;}
h2{font-size:25px;}
button { border: none; outline: none;}

section{margin:0px;padding:0px;height:auto;width:100%;	float:left;	}
header{ margin:0px;	padding:10px 0px;height:auto;width:100%;float:left; background-color:#1e212b;}
.logo{ margin:0px;padding:0px; width:100%; float:left;}
 /* login page*/
.login_wraper{margin:80px 0px 0px;padding:0px; width:100%; float:left;}
.login-content{float:none !important; display: block;overflow: hidden;margin: 0px auto;}
.main_login h3{margin:0px; padding:0px; height:auto; width:100%; float:left; font-size:20px;}
.main_logininner{ margin:0px; padding:20px 0px; height:auto;width:100%;float:left;}
.login_input{ border-bottom: 2px solid #b0b4b3 !important;background: transparent;width: 100%;border: 0px; width:100%; height:40px !important; color:#434343; border-radius:0px;} 

.forgot-pass{ padding:12px 0px; margin:0px; width:100%; float:left; text-align:right;}

.signup-txt { text-align:center !important; padding-top:30px;display:block; overflow:hidden;  padding-bottom:30px; margin:0px; width:100%;}
.text  a{ padding:0px 5px; text-decoration: underline;}
.login_input:focus{outline: none;border-bottom: 2px solid #ef5337 !important;}
.login_rightinner{margin:0px; padding:10px 20px;height:auto;min-height:100px;width:100%;border:4px solid #EF5337;float:left; }
.checkbox{ margin-top:8px;}
.login-que{  margin:0px; padding:15px 0px; }
.call-at{font-size:15px;  padding-top:10px;}
.email-t{ font-size:15px;  padding-top:10px;}
.iso-text{ text-decoration:underline;}
.loin_btn { height: 40px;background-color: #EF5337;width: 100%;border-radius: 20px;border: 0px;margin-top: 20px;color: #fff;font-size: 17px;float: left;padding: 7px;
 text-align: center;text-decoration:none;}
 .login_right .fa {  padding: 0px 6px; font-size:23px; position: relative;top: 3px;}
 .login_right span{ margin-top:-10px;}
 .logout_btn { color: #fff; display: block; width: 130px; float:right; padding: 20px 10px 5px 35px; background-image: url(../images/logout264.png); background-repeat: no-repeat;    background-position: left 18px;	position: relative; z-index: 99;}
.business-details .col-lg-4{ padding-right:3%;}
 /* end login page*/
 /*Dashboard*/
.table-striped > tbody > tr:hover{background:#ffc7b6;}
 .brand_section{ margin:0px; padding:0px 15px; height:auto; width:100%; float:left; text-align:center}
.containt_wraper h2{ padding:0px 15px;}
.containt_wraper{ margin:0; padding:20px 5px ; height:auto; width:100%; float:left;}
.widget_wraper{ margin:0; padding:10px 0px; height:auto; width:100%; float:left;}
.widget_section{ margin:0px;padding: 10px 20px 0px 0px; height:auto; width:100%; float:left;}
.widget_text{margin:0px 0px 10px 0px; padding:0px; height:auto; width:100%; float:left; min-height:100px;}
.widget_text h1{ font-size:50px; color:#1E212B; padding:0px 0px; margin:0px; float:left; width:100%}
.widget_text p{ font-size:18px; color:#1E212B; padding:0px 0px; margin:0px; float:left; width:100%}
.widget_icon1{ padding-bottom:10px; background:url(../images/text-documents_1.png)no-repeat right 20px; padding-right:40px; border-bottom:4px solid #F59786}
.widget_icon2{padding-bottom:10px;  background:url(../images/thumb-up-sign_1.png)no-repeat right 20px; padding-right:40px; border-bottom:4px solid #F2755E}
.widget_icon3{ padding-bottom:10px; background:url(../images/funds_1.png)no-repeat right 20px; padding-right:40px; border-bottom:4px solid #EF5337}

.widget_btn{ margin:0px; padding:10px; height:50px; width:100%; float:left; font-size:18px; color:#fff; text-decoration:none; cursor:default;}
.widget_btnicon1{ background: #F59786 url(../images/text-documents-white.png) no-repeat 96% 10px; }
.widget_btnicon2{  background:#F2755E url(../images/thumb-up-sign-white.png) no-repeat 96% 10px;}
.widget_btnicon3{  background:#EF5337 url(../images/funds-white.png) no-repeat 96% 10px;}

.comminsion_section{margin: 0px 0px 10px 0px;padding: 52px 10px 10px 10px;height: auto;width: 100%;float: left; border-bottom:4px solid #009F33; text-align:center;}
.comminsion_section p{font-size: 18px;color: #1E212B;padding: 0px 0px;margin: 0px;float: left;width: 100%;}
.comminsion_section h1{font-size: 50px;color: #1E212B;padding: 0px 0px;margin: 0px;float: left;width: 100%;}
.comminsion_btn {margin: 67px 0px 10px 0px;padding: 10px;height: 50px;width: 100%;float: left;font-size: 18px;color: #fff;text-decoration: none; background-color:#009F33;cursor: default;}
.dashboard_data{ margin:0px; padding:20px 0px; height:auto; width:100%; float:left; position:relative;}
.status_wraper{border-top: 1px solid #EF5337; margin:0px 0px 0px 0px; padding:10px 0px; height:auto; width:100%; float:left; position:relative; right:0px; top:0px;}
.deactive-btn{height: 40px; background-color: #f59786;width: 100%;border-radius: 20px;border: 0px;margin-top: 10px;color: #fff;font-size: 15px;float: left;padding: 10px;text-transform:capitalize;font-weight: bold;text-align: center; margin-bottom:8px;}

.active-btn{ background: #EF5337; color:#fff !important;height: 40px; width: 100%;border-radius: 20px;border: 0px;margin-top: 10px;font-size: 15px;float: left;padding: 10px;text-transform:capitalize;font-weight: bold;text-align: center; margin-bottom:8px;}

.dataTables_filter input{ border:0px; border-bottom:1px solid #101010 !important; padding:10px 0px; width:250px !important;}
.table_searchdata{  height:auto; width:100%; float:left;     }
.table_searchdata input { background:#fff url(../images/search.png) no-repeat 7px 7px; padding-left:35px;} 

.search-d{margin:15px 0px; padding:0px;padding-left:15px;}
.form-control { background:#fff url(../images/search.png) no-repeat 7px 7px; padding-left:35px;} 
  /*End Dashboard*/
  /* New Application*/
  .application_wraper{ margin:0; padding:20px 0px ; height:auto; width:100%; float:left; min-height:875px;}
.comman_application_wraper {
    margin: 50px 0px 10px 17px;
    width: 98%;
    display: block;
    overflow: hidden;
    border: 2px solid #ddd;
}

.tab-box {border: 2px solid #ccc; display: inline-block;  padding: 10px 20px; vertical-align: top;border-radius: 4px 4px 0px 0px; border-bottom:none; min-height:49px;}
.tab-img { display: inline-block; border:2px solid #ccc; padding: 10px 20px; min-height:49px; border-radius: 4px 4px 0px 0px; border-bottom:none;}
.tabs{margin:20px 15px; padding:0px;}
.tabs li { float:left; list-style:none; border-bottom:0px; margin-bottom:-3px; margin-left:3px;}
.app-tab{background:none; border:none; text-align:center; font-size:18px;}
.tabs div.active{font-weight:bold; border-bottom:2px solid #ef5337;}



.comman_application_wraper h4 {
    margin: 10px 15px 0px;
    padding: 10px 20px 10px 0px;
    display: inline-block;
    border-bottom: 1px solid #EF5337;
}

.comman_applicationinner {
    margin: 0;
    padding: 6px 13px;
    height: auto;
    display: block;
    overflow: hidden;
}  
 /* .comman_applicationinner input{ margin: 0px 0px;height: 35px;border-bottom: 2px solid #ccc !important;width: 100%;border: none;background: transparent; color: #595555;font-size: 14px;font-weight: normal;}
   .comman_applicationinner select{ margin: 0px 0px;height: 35px;border-bottom: 2px solid #ccc !important;width: 100%;border: none;background: transparent; color:#a29f9f; -moz-appearance: none; -webkit-appearance: none; padding-right:10px; background:url(../images/reting-select.png) no-repeat right 12px;}*/
  
   
 /* .comman_applicationinner input:focus, .comman_applicationinner input:hover,.comman_applicationinner select:focus, .comman_applicationinner select:hover {outline: none;border-bottom: 2px solid #ef5337 !important; color:#ef5337;}*/
  .dob_section{ margin:0px; padding:0px ; height:auto; width:100%; float:left;border-bottom: 2px solid #ccc !important}
  .dob_section label{ width:auto !important; margin:0px; padding:6px 0px; height:35px;  float:left; color: #9c9a9a;font-size: 14px; font-weight:normal;}
  .dob_section select{ border-bottom:none !important; padding-left:10px; font-size:12px;}
  .dob_section:hover{border-bottom: 2px solid #ef5337 !important; color:#ef5337;}
   .dob_section select:focus,.dob_section select:hover{ border-bottom:none !important;}
  
  
  .another_owner{ margin:0px; padding:0px 0px 15px; height:auto; width:100%; float:left; text-align:center; }
  .addowner_btn{margin:0px; padding:10px 0px; height:auto; width:100%; float:left; text-align:left; font-size:16px; }
  .addowner_btn span .fa{ color:#1E212B !important; padding:0px 5px}
  .another_owner_link{ text-decoration:underline}
  .another_owner p{ width:100%; margin:20px 0px 10px ; padding:15px 50px 15px 50px; text-align:left; background-color:#fff; border:1px solid #ccc; float:left; position:relative; font-size:16px;}
  .another_owner p img{ font-size:30px; position:absolute; top:10px; }
 .divider{ height:1px; width:100%; margin-top: 30px;  border-bottom:1px solid #F2755E; float:left}
 .divider_addcolor{ border-bottom-color:#F2755E !important;}
 .checkbox label, .radio label {    min-height: 20px !important;    padding-left: 20px !important;    margin-bottom: 0;    font-weight: 400;    cursor: pointer;}
 .checkbox label a{ text-decoration:underline;}
.comman_application_wraper .checkbox input{ height:auto; margin-top:4px; width:auto;}

.btn{height: 40px; border:2px solid #EF5337; color:#EF5337; width: 100%;border-radius: 20px;margin-top: 20px;font-size: 17px; background: #fff;}
.next_btn{ background-color:#EF5337 !important; color:#fff;}



/* End New Application*/

/* Pricing Stage*/
.pricing_stage_wraper{ margin:15px 0px 5px; padding:0px; height:auto; width:100%; float:left;}
.pricing_stagebox{margin:0px 0px; text-align:center; padding: 60px 10px; height:auto; width:100%; float:left; border-radius:10px; border:4px solid #EF5337; min-height:323px;}
.pricing_stagebox_left{margin:0px 0px 0px; padding:0px; height:auto; width:100%; float:left; border-right:1px solid #EF5337}
.pricing_stagebox_right{margin:0px 0px 0px; padding: 25px 0px 0px 0px; height:auto; width:100%; float:left;}
.pricing_stagebox_right ul{margin:0px 0px 0px; padding:0px; height:auto; width:100%; float:left; }
.pricing_stagebox_right ul li{margin:0px; padding:5px 0px 10px; height:auto; width:100%; float:left; list-style-type:none; }
.pricing_stagebox_right ul  .active {color: #EF5337 !important;}
.pricing_stagebox_right ul li .right_text{ float:right; font-weight:bold;}
.pricing_stagebox_right ul li .left_text{ float:left;}
 .price-head{margin:0px 0px 13px; padding:0px; height:auto; width:100%; float:left; text-align:center;}
.price-letter{margin:0px 0px 0px; padding:0px 0px 10px; height:auto; width:100%; float:left; text-align:center; font-size:65px; color:#EF5337}
.price-txt{margin:0px 0px 0px; padding:0px; height:auto; width:100%; float:left; text-align:center;}
.pricing_stagebox a{ text-decoration:underline;}
.dailypemant_box{margin:0px 0px;  padding: 0px; height:auto; width:100%; float:left; }


.dailypemant_box strong{ display:block; padding:5px 15px; font-size:16px;}

.progress{overflow:hidden;height:30px; background-color:#8f8d8d; margin-bottom:0px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius: 0px 20px 20px 0px; padding: 0px 16px 0px 0px;}

.progress span{padding-top: 5px; color:#fff;}
.bar img{ margin-top:7px;}
.progress .bar{width:0%; padding:0px 10px 0px 15px; height:100%;float:left;font-size:12px;text-align:center; font-size:15px; background-color:#EF5337; border-radius: 0px 20px 20px 0px;}
.dailypemant{ margin:0px 0px 15px; padding:0px; height:auto; width:100%; float:left;  }
.dailypemant p{ width:50%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
.sell_reat{ margin:0px 0px 15px; padding:0px; height:auto; width:100%; float:left;  }
.sell_reat p{ width:50%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
.term{ margin:0px 0px 15px; padding:0px; height:auto; width:100%; float:left;  }
.term p{ width:52%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
 .limit1{ width:30% !important}
 .limit2{ width:30% !important}
 .limit3{width:50% !important}
 
 
.maxmixe_wraper{ margin: 30px 0px 0px; padding:0px; height:auto; width:100%; float:left;}
.maximize_text{ margin:10px 0px; padding:10px 0px; height:auto; width:100%; float:left; font-weight: bold;font-size: 17px; }
.maxmixe_btn{ 
    border-radius:20px;
     border:2px solid #EF5337 !important;
      padding:6px 10px; float:left; 
      width:100%; margin: 15px 0px;
       color:#EF5337; 
       background-color:#fff;}
.advance_btn{
    background-color: #EF5337;
    color:#fff !important;
     border-radius:20px; 
     border:2px solid #EF5337 !important; 
     padding:6px 10px; float:left; 
     width:100%; margin: 15px 0px; 
      }
.generatr_deal{height: auto;
background-color: #EF5337;
width: 100%;
border-radius: 26px;
border: 0px;
margin-top: 8px;
color: #fff;
font-size: 17px;
float: left;
padding: 12px 10px;
text-transform: capitalize;
text-align: center;
text-transform: uppercase;
font-weight: bold;}

.generatr_deal:hover,.maxmixe_btn:hover, .advance_btn:hover, .deactive-btn:hover,.active-btn:hover {
    color: black !important;
}
/*End Pricing Stage*/

/* agreement Stage*/
.agreement_stage_wraper{ margin:0px; padding:0px; height:auto; width:100%; float:left;}
.agreement_stagebox { margin: 0px;padding: 0px;height: auto;width: 100%;float: left;}
.agreement_stagebox h2 {margin: 0px;padding: 0px 0px;height: auto;width: 100%;float: left;font-size: 17px;}
.agreement_stagebox h2 span {height: 30px;width: 30px;float: left;border-radius: 100%;background-color: #ccc; color:#009F33; padding: 6px 7px;font-weight: bold;margin-right: 5px; margin-top: -7px; border: 1px solid #EF5337;font-size: 14px;}
.agreement_stagetext {margin: 0px;padding: 0px;height: auto;width: 100%;float: left;border: 1px solid #434343;min-height: 200px; overflow:hidden;}
.agreement_textleft{margin:0px; padding:20px; height:auto; width:100%; float:left; border-right: 1px solid #434343; background-color:#eee; overflow:hidden;}
.add_background{ }
.agreement_textleft h4{ margin: 0px;padding: 0px 0px;height: auto;width: 100%;float: left;font-size: 18px; position:relative;}
.agreement_textleft h4 .fa{ font-size:30px; position:absolute; right:25%;  top:0px}
.agreement_textleft  h4 span{ display: block;font-size: 12px;float: left;margin: 5px 0px; width:100%;font-weight: normal;}
.textleft_midbox{ margin:0px; padding:0px 50px; height:auto; width:100%; float:left; text-align:center;}
.textleft_midbox .status_box{margin:0px 0px 20px 0px; padding:20px 0px 30px; height:auto; width:100%; float:left; border-bottom: 1px solid #434343; }
.status_box p{ margin:10px 0px 0px;}
.status_box a{ text-decoration:underline;}
.status_box .docsign_btn{ margin:10px 0px; padding:12px 35px; height:auto; width:100%; background-color:#dddddd; border:1px solid #434343; color:#1E212B; text-decoration:none; font-size:18px;}
.docsign_btn img{ margin-right:10px;}
.status_box div{ width:100%; float:left; height:auto; margin:25px 0px; padding:0px; }

.agreement_stagetext p{font-size: 16px;float: left;width: 100%;}
.dragfile_box{ border: 1px dashed #434343;margin: 0px 0px 10px 0px;padding: 10px 20px 20px;height: auto;min-height: 50px;width: 100%;background-color: #fff;border-radius: 6px;float: left;text-align: left;}
.dragfile_box_col { display:block; float:left; width:100%; margin:10px 0px 0px; cursor: pointer; }
/*.dragfile_box span{ color:#1E212B; text-decoration:none !important; padding: 0px 0px 0px 5px;}*/
.span_underlime{ text-decoration:underline !important;color: #337ab7 !important; padding-left:0px; padding-right: 3px;}
.dragfilebox_margin{ margin:20px 0px 45px !important; padding: 20px 20px !important;}

.agreement_textright{margin:0px; padding:20px; height:auto; width:100%; float:left; background-color:#fff; text-align:center; }
.agreement_textright_firstbox{ min-height:457px !important; padding-top:40px;}
.agreement_textright p{ padding: 50px 0px;text-align: center;}
.remove_border_right{ border-right:none !important;}
.addborder_left{border-left: 1px solid #434343;}
.agreement_textright .last_p{ padding-top:10px !important;}
.last_p img{ margin-bottom:10px;}
.privacypolicy_p{ float:left; text-align:center; width:100%; margin-top:30px; height:auto;}
.privacypolicy_p a{ text-decoration:underline;}

/*End agreement Stage*/

/*settings page*/ 
.nav-tabs {
    border-bottom: 1px solid #ef5337 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #ef5337;
    border: 1px solid #ef5337;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {border: 1px solid transparent;border-radius: 4px 4px 0 0;color: #1e212b; font-weight: bold;}
.tabing_section{ margin:0px; padding:0px; height:auto; width:100%; float:left; }

.uploadfile_section{ margin:10px 0px ; padding:0px 30px; height:auto; width:100%; float:left;}
.upload_file {margin: 0px ;padding: 0px !important;display: block;height: 190px;width: 190px;border-radius: 100%;border: 2px solid #ef5337;font-size: 105px;  background:#eee; text-align:center; position:relative; cursor: default;}
.upload_file img{position:relative;cursor: default;}
.upload_file span { font-size: 17px;color: #1e212b; line-height: 20px !important; position: absolute; left: 0px; top: 42%; right: 0px; margin: 0px auto;}

.tabing_section .divider {margin-top: 60px !important;margin-bottom: 30px !important;}
.question_call { color:#fff; padding:15px; text-align:right;}
/*end settings page*/
/*404_page*/
.errorpage_header{ padding-bottom:10px !important; border-bottom:2px solid#1e212b; }
.errorpage_main{ margin-top:10px; padding-top:60px; padding-bottom:60px}
.errorpage ul{ margin:0px; padding:0px 15px; height:auto; width:100%; float:left;}
.errorpage ul li{ margin:0px; padding:0px; height:auto; width:100%; float:left;}
.errorpage p{ text-align:left; }
.errorpage ul li a{ color:#EF5337; outline:none;}
.errorpage ul li a:hover{ text-decoration:underline;}
.sucess_message{ font-size:25px; float:left; margin-right:7px;}
.alert strong{ padding-top: 2px;}
.alert{ float:left; width:100%}
.business-details .col-lg-4{ padding-right:3%;}
/*end 404_page*/
.info_alrt{margin-bottom: 0px;padding-top: 5px;padding-bottom: 5px;}
.close_btn{ float:right;float: right;width: 100%;text-align: right;padding-right: 3%;margin-bottom: 10px;}
.img_left { left: 10px;}
.img_right { right: 10px;}
.alert_message{ color: #31708f;font-weight: bold;width: auto;float: left; margin-top: -20px;}
.error_message{ color:#a94442;font-weight: bold;width: auto;float: left; margin-top: 0px;}

.remove_marginbottom{ margin-bottom:0px !important;}
.custom_width{ width:1300px !important;}
.remove-boder-bottom{ border-bottom:none !important}
.form-group{ margin-bottom:0px !important; float:left; width:100%; padding:15px 0px;}
.fields{ margin: 0px 0px;height: 35px;border-bottom: 2px solid #ccc !important;width: 100%;border: none;background: transparent; color: #595555;font-size: 14px;font-weight: normal;}
.select_fields{ margin: 0px 0px;height: 35px;border-bottom: 2px solid #ccc !important;width: 100%;border: none;background: transparent; color:#a29f9f; -moz-appearance: none; -webkit-appearance: none; padding-right:10px; background:url(../images/reting-select.png) no-repeat right 12px;}
   
.fields:focus, .fields:hover,.select_fields:focus, .select_fields:hover {outline: none;border-bottom: 2px solid #ef5337 !important; color:#595555;}
.file_icon{ float:left; background:url(../images/file.png); height:32px; width:32px; }
.error_icon{ background:url(../images/error.png); float:left; height:24px; width:24px; margin-top:5px}
.file_text{ float:left;color: #337ab7;text-decoration: none !important;padding: 0px 5px ;  float:left; margin-top:5px;}
.dragfile_icon{background:url(../images/upload.png); float:left; height:32px; width:32px;  }
.dragfile_text {float: left; padding: 5px;}
.bigsearch_icon{ color:#f05234 !important ;font-size: 65px;}
.big_refresh_icon{color: #f05234 !important;font-size: 60px !important;float: right !important;margin-top: 55px; }
.expiry_message_text{ text-align:center; margin-top:80px; color:#EF5337; }
.pricing_stagebox_left_ul{float: left;list-style-type: none;text-align: left;padding-left: 33px; margin-top:10px;}
.pricing_stagebox_left_ul li{ margin-bottom:6px;}

.custom_tooltip { position: relative; display: inline-block;}
.custom_tooltip .tooltiptext {visibility: hidden; width: 120px;background-color: #555; color: #fff;text-align: center; border-radius: 6px;padding: 5px 0; position: absolute;    z-index: 1; bottom: 125%;  left: 50%; margin-left: -60px; opacity: 0;transition: opacity 1s;top: -35px; height: 29px; border-bottom:none;}
.custom_tooltip .tooltiptext::after {content: "";position: absolute;top: 100%;left: 50%; margin-left: -5px;border-width: 5px; border-style: solid;border-color: #555 transparent transparent transparent;}
.custom_tooltip:hover .tooltiptext {visibility: visible;  opacity: 1;}
.maximize_text{ text-align:right;}
.settings_btn { background-color:#EF5337 !important;}
.mobile_profile_btn{ display:none;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover { color: #EF5337;  background-color: #eee;
 border-color: #ddd;}
.pagination { display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px; float: right;}

.pagination > li > a, .pagination > li > span { position: relative; float: left; padding: 6px 12px; margin-left: -1px;line-height: 1.42857143;color: #666;text-decoration: none;
    background-color: #fff;  border: 1px solid #ddd; }
	
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #EF5337;
    border-color: #EF5337;
}	


.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover { color: #bebebe; cursor: not-allowed;background-color: #ececec; border-color: #ddd;}
.no-data{display:block; text-align:center; color: #EF5337; border: 1px solid #ccc; padding: 40px 0px 50px;}
.no-data h3{font-size:22px;}
.close-img { position: absolute; top: 35px; right: 26px;}


/*Agreement-page=========================================================================================================*/

.header_staus{ margin:0px; padding:0px; height:auto; width:100%; float:left}
.header_staus li{ margin:0px; padding:0px 0px 20px; height:auto; float:left; display:inline-block}
.header_staus li a{ margin: 0px;padding: 0px 10px;height: auto;float: left;display: inline-block;border-right: #434343 1px solid;color: #434343;font-size: 17px; cursor: default;}
.header_staus li:first-child a{padding-left:0px;}
.header_staus li .remove_rightborder{ border-right:none !important;}
.status-heading{display:block; margin-bottom:6px;}


.logo-panel{display:block; margin-top:40px; text-align:center;word-wrap: break-word;}
.logo-text {text-align: center; color: #fff; font-weight: bold; vertical-align: middle;line-height: 128px;font-size: 3.1vw;}
.logo-text-account {line-height: 92px;}
.b-logo { margin: 0px auto; padding: 0px !important; display: block; height: 136px; width: 136px; background:#ef5337; border-radius: 100%; border: 5px solid #ef5337; padding:10px; position:relative; box-shadow:inset 0px 0px 0px 3px #fff; }
.b-logo img {border: 5px solid #fff; border-radius: 360px; width: 100%; height: 100%;}
.brand-detail{display:block; margin-top:10px;}
.brand_name {margin: 0px;padding: 15px 0px 0px !important; color: #ef5337; font-size: 20px; display: block;}
.brand_email {margin: 0px; padding: 5px 0 20px !important;   color: #fff; font-size: 18px; display: block; word-wrap: break-word;}
.brand-btns{display:block;margin: 10px auto; }
.brand_btn {background-color: #EF5337; border-radius: 40px;  border: 0px; margin-top: 10px; color: #fff; font-size:18px; display: table; padding: 11px 24px; text-transform: uppercase; text-align: center; margin: 10px auto;  font-weight: bold; width:90%; margin-bottom:15px;}

.receive-box{}
.receive-box h3{margin:0px 0px 20px; font-size:18px;}
.agreement-box {padding: 14px; border: 2px solid #eee; overflow: hidden; border-radius: 4px;}
.contract-box{border: 2px solid #eee; overflow: hidden; border-radius: 4px; padding:15px; min-height:260px;}
.doc-txt{text-align:center;}
.drag-icon {text-align: center; margin: 60px 0px;}
.legal-frm p { line-height: 10px; font-size: 13px;}
.legal-frm { text-align: center; display: block;}

.agree-details{margin-top:10px; display:block; overflow:hidden;}
.doc-status { display: block; overflow: hidden; margin:48px 0px;}
.doc-img { display: inline-block; vertical-align: middle;  float: left;}
.status-d { display: inline-block; float: right;}
.status-d span { display: inline-block; font-size:14px;}
.status-d h4 { display: inline-block; font-size:15px;}
.agree-head{display:block;margin:20px 0px 10px 0px;}
.agree-head h3{font-size:20px;}

.up-head{display:block; min-height:50px;}
.up-head h5 { font-size: 16px; margin: 6px 0px;  text-align: center;}
.up-text{ text-align:center;}
.up-text p{text-align:center; font-size:14px;}
.id-icon { text-align: center;  margin:20px 0px;}
.id-icon span{margin-right:5px;}
.drag-text {
    text-align: center;
    border: 1px dotted #ccc;
    padding: 7px 5px;
    display: block;
}
.drag-text span {display: block;}
.button-boxs{display:block; margin:20px auto; text-align:center;}
.button-b{background-color: #EF5337;border-radius: 40px; border: 0px; color: #fff;font-size: 17px; display: inline-block; padding:6px 33px;text-transform: uppercase;text-align: center; margin:10px 5px;font-weight:600;}
.button-b:hover,.brand_btn:hover{color: black !important; }
.button-b-disable{background-color: #f59786;border-radius: 40px; border: 0px; color: #fff;font-size: 17px; display: inline-block; padding:6px 33px;text-transform: uppercase;text-align: center; margin:10px 5px;font-weight:600;}
.file-name {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:84px; float:none; font-weight:normal;vertical-align:top;}
.doc-txt a { display: block;}
.right-click.active { display: inline-block;}
.right-click.hide { display:none;}


/*Menu Wrap===========*/
.menu-wrap {display: block; margin-left: 15px; margin-bottom:20px;}
.menu-list li {list-style: none; float: left;  background: #a6aaa9; border-radius: 0px 40px 40px 0px;  text-align: center; border: 2px solid #fff;  position: relative;}
.menu-list li a { color:#737675;  font-size: 16px; font-weight: 600; padding:7px 26px; display:inline-block;cursor: default;}
#me1{z-index:100; margin-right: -15px;}
#me2{z-index:99; margin-right: -15px;}
#me3{z-index:98; margin-right: -15px;}
#me4 {z-index: 97; margin-right: -15px;}
.menu-list li.active {background: #ef5337;}
.menu-list li.active a{color:#fff;}
.menu-list li.completed {background: #434343;}
.menu-list li.completed a{color:#a6aaa9;}
.menu-list { margin: 0px; padding: 0px;}


.header_caption{ margin:30px 0px 15px; padding:0px;}
.header_caption p{font-size:18px; margin-top:10px; }
.header_caption b{font-size:18px;}


/*Left Panel Menu============*/
.left-menu { display: block; padding: 10px 0px; margin: 15px 0px;}
ul#menu-wrap{top:0;width:100%; margin:0; padding:0 10px;  color:#eee;}
ul#menu-wrap > li{list-style-type:none;position:relative; margin:3px 0px 0px;}
ul#menu-wrap li a{display:block;border-bottom:1px solid #777; font-size:18px; margin-bottom:7px; color:#fff; padding:0 18px 5px 12px; font-weight:600;}
/* #menu-wrap li label{position:relative; display:block; color:#fff;  padding:0 18px 0 12px; line-height:2.3em; cursor:pointer; border-bottom:1px solid #777; font-size:18px; margin-bottom:7px;} */
#menu-wrap li label:after{content:""; position:absolute; display:block; top:50%; right:5px; width:0;height:0;border-top:7px solid rgb(255,255,255); border-bottom:0 solid rgb(255,255,255);  border-left:7px solid transparent;  border-right:7px solid transparent;  transition:border-bottom .1s, border-top .1s .1s; }

a.settingLink{
    position: relative;
    display: block;
    color: #fff;
    padding: 8px 18px 30px 12px !important;
    line-height: 2.3em;
    cursor: pointer;
    border-bottom: 1px solid #777;
    font-size: 18px;
    margin-bottom: 7px;
}

/* #menu-wrap li label:hover,
#menu-wrap li input:checked ~ label{}
#menu-wrap li input:checked ~ label:after{ border-top:0 solid rgb(255,255,255); border-bottom:7px solid rgb(255,255,255); transition:border-top .1s, border-bottom .1s .1s;}
 */

#menu-wrap li label.open:after{ border-top:0 solid rgb(255,255,255); border-bottom:7px solid rgb(255,255,255); transition:border-top .1s, border-bottom .1s .1s;}

/* #menu-wrap li input{display:none;}
#menu-wrap li input:checked ~ ul.submenu{  max-height:300px;  transition:max-height 0.5s ease-in;} */
#menu-wrap li ul.submenu.open{  max-height:300px;  transition:max-height 0.5s ease-in;}

#menu-wrap .submenu{ max-height:0; padding:0;overflow:hidden; list-style-type:none; transition:max-height 0.5s ease-out; position:relative; min-width:100%;}
#menu-wrap .submenu li a{display:block;padding:5px 13px; color:#fff; text-decoration:none;font-size:17px; font-weight:500;}
#menu-wrap .submenu li a:hover{color:#ef5337;}

.contain-wrapper {overflow: hidden;width: 100%;max-width: 100%;margin: 0 auto;}
.right-application  { float: right;}
.contain-wrapper .sidebar { float: left;}
.right-application , .sidebar { padding-bottom: 99999px; margin-bottom: -99999px;}


/*Verification Page====================================================================================================*/
.verification-wrap{display:block; position:relative; margin-top:100px;}
.verify-box { border: 3px solid #eee; padding: 20px 9%;text-align: center; margin-right: 30px; position:relative; min-height:390px; border-radius:3px;}
.verify-box.active{border: 3px solid #ef5337;}
.verify-img { display: block; overflow: hidden; margin: 23.5% 0px; min-height:76px;}
.verify-img a{font-size:15px; color:#000; margin-top:7px; display:block;}
.verify-detail{text-align:center; display:block;}
.verify-detail p { font-size: 18px; font-weight: 400; line-height: 22px;}

.number-box{border:3px solid #eee; width:50px; height:50px; border-radius:360px; color:#333; position:absolute;right: -19px;top: -20px;background: #fff;}
.number-box span{line-height:45px; color:#ababab; font-size:18px;}


.verify-box.active .number-box{border:none; background:url(../images/right-icon.png) no-repeat; width:50px; height:50px;}
.verify-box.active .number-box span{display:none;}



/* finalization Stage====================================================================================================*/
.finalization-wrap {display: block; margin-top: 50px;}
.finalization_text{margin: 10px 0px 30px; padding:16px 25px; border: 3px solid #eee; min-height:350px; display:block; overflow:hidden;  }
.final-app{margin:0px; padding:0px; height:auto; width:100%; list-style-type:none;}
.final-app li{margin:0px; padding:9px 0px ; height:auto; width:100%; float:left; font-size:16px;   }
.final-app li .span_left{ float:left; width:47%;}
.final-app li .span_right{ float:right; width:51%; text-align:right;}
.span_right b{font-weight:500;}
.submit-agreement{border:3px solid #ff9a00; position:relative; margin-top:10px; min-height:350px; }
.icon-bx { position: absolute; right: 0px; left: 0px; margin: auto; text-align: center; top: -30px;}
.agree-text{text-align:center; padding:57px 50px;}
.agree-text h3 {text-align: center; font-size: 20px;}
.agree-text p {font-size: 16px; margin-top: 20px; display: block; margin-bottom: 13px; text-align: center;}
.agree-text a { font-size: 18px; font-weight: 500; color: #255fae; text-align: center;}
.final-head{margin-left:15px;}
.final-head h4{ font-size:18px; margin-bottom:0px;}

/*Finalization-2 ================*/
.success-agreement{border:3px solid #009f33; position:relative; margin-top:10px; min-height:350px; }
.send-mail-btn{text-align:center; background:#ef5337; color:#fff; border-radius:30px; padding:5px 20px; font-size:18px; display:block; margin:30px auto;border:none; font-weight:500;}


/*Finalization 3================*/
.dis-agreement{border:3px solid #ff0000; position:relative; margin-top:10px; min-height:350px; padding:18px;}
.icon-err { position: absolute; left:-17px; top: -38px;}
.disq-text h3{font-size:20px; margin-bottom:15px;}
.error-msgs {margin: 0px; padding: 0px 20px 0px 20px; display: block; overflow: hidden;}
.error-msgs li{font-size:18px; color:#ef5337; margin-bottom:15px;}
.error-msgs li p{font-size:14px; color:#333;}
.error-msgs li h5 { font-size: 15px; margin-bottom: 5px; color: #111;}



/*Link Your Accounts===========================================================================*/ 

.account_wrapper{padding: 20px 30px;margin: 0px auto;display: block;}

.progress-bars .line-d {padding-bottom:44px;border-bottom: 2px solid #1E212B; width: 15%;height: 2px; display: inline-block; margin-left: -2px;margin-right: -2px;}
.progress-bars .circle {padding: 8px 12px; border-radius: 100%; height: 44px; width: 43px; border: 2px solid #ef5337; position: relative; top:3px; color: #b7b6b6;font-size: 17px; display: inline-block;}

.progress-bars span.active{ background-color:#ef5337 !important; color:#fff !important; border:2px solid #1E212B !important;  }

.images-logo {display: block; margin: 0px; padding: 6px;}
.images-logo li { list-style: none; display: inline-block; padding: 14px 8px;  width: 49%;}

.link-wrap{ margin:30px 0px 40px; padding:20px 10px;  border:1px solid #ccc; overflow:hidden; }
.link-expire{text-align: center;}
.ac-head{ text-align:left; margin-bottom:15px;}
.ac-text{ text-align: left; float: left; width: 100%;}
.account_btn{padding: 6px 14%;border: 2px solid #ef5337;border-radius: 30px;font-size:18px; font-weight:500;  background-color: #fff; color:#ef5337; margin-top:15px;}
.account_btn2 {background-color: #EF5337 !important;color: #fff;height: auto;border: 2px solid #EF5337;width: 100%;border-radius: 20px;margin-top: 20px; font-size: 17px; padding:6px 20px; }

.ssl-logo {margin-top: 25px;}
.progress-bars { text-align: center;}
.privacy-wrap { border: 1px solid #ccc; display: block; overflow: hidden;  padding: 20px 10px; margin-bottom: 30px;}

.btn_bold{ font-weight:bold !important; }
.aligenment{ text-align:center !important;}
.dragfile_box {border: 1px dashed #434343;margin: 0px 0px 10px 0px;padding: 20px;height: auto;min-height: 50px;width: 100%;background-color: #fff;border-radius: 6px;float: left;text-align: left;}
.dragfile_box a{ display:block; margin-bottom:15px;}
.dragfile_box img{ margin-left:5px;}
.add-top-margin{ margin-top:50px}
.add-bottom-margin{  margin-bottom:40px;}

.btn_box{ margin:10px 0px 0px; padding:0px; height:auto; width:100%; float:left;}
.btn_box .account_btn{width:100% !important; display:block; height:auto !important;}
.account_btn .fa{ margin-right:5px;}
.all_donep{ text-align:left; font-size:20px !important;}
.question_icon{padding-left: 10%;font-size: 20px;}
.account-contain{float:none; margin:0px auto;}

.question-wrap{text-align:center; margin-top:23px;}
.question-wrap h4{font-size:20px;}
.question-wrap p{ font-size:17px; margin-top:10px;}
.que-heading{text-align:center; }
.que-heading h2{font-size:21px; margin-bottom:10px; }

.account-logos {display: block; text-align: center;}
.account-logos a {text-align: center; margin: 0px 10px;}
.link-logo {padding: 0px !important; display: inline-block; height: 100px; width: 100px; background:#ef5337; border-radius: 100%; border: 5px solid #ef5337; padding:10px; position:relative; vertical-align:middle;box-shadow:inset 0px 0px 0px 3px #fff;}

.text-l { display: block; margin-top: 22px; text-align: center; color: #fff; font-size: 30px; font-weight: bold;}

.account-logos .link-logo img{border: 5px solid #fff; border-radius: 360px; width: 100%; height: 100%;}

.all-done{margin:10px 0px 0px 5px;}
.all-done img {display: block; text-align: center; margin: 10px auto;}
.done-heading{font-size:23px; text-align:center}
.done-text{font-size:17px; text-align:center;}
.pri-logo img { width: 100%;}
.ssl-logo img { width: 100%;}
.privacy-text h4{margin-top:0px;}
/*End Link Your Accounts*/ 

.tooltip-b {position: relative; display: inline-block; color:#1e212b ;}
.tooltip-b .tooltiptext { visibility: hidden; min-width: 120px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute;    z-index: 1; top: 113%; left: 50%; margin-left: -60px; max-width:170px; padding:5px; word-wrap: break-word;}
.tooltip-b .tooltiptext::after {content: ""; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent black transparent;}
.tooltip-b:hover .tooltiptext {visibility: visible;}


.update-bx{float:right !important;}

/*Funded application=====*/
.deal-wrap{padding:16px 14px 16px 0px;border: 3px solid #eee;display: block;overflow: hidden; margin-bottom:10px;}
.deal-text li{font-size:15px; line-height: 20px;margin-bottom: 10px;}
.question-txt{margin-top: 6px;}
.links-btn{ text-align: center;}

/*Expiry msgs====*/
.expiry-msg{padding: 30px 30px 20px 30px;height: auto;min-height:250px;border: 4px solid #EF5337;float: none !important;text-align: center;margin: 10px auto;}

/*Login-page====*/
.login_wrap { margin: 80px auto 0px; padding: 0px; width: 100%; float: none; display: block;text-align: center;}
.login_right{ float:none !important; margin-left:20px;text-align:left; margin-bottom:30px; vertical-align:top; display:inline-block; padding:0px;}
.main_login{ margin:0px; margin-bottom:30px; padding: 30px 30px 20px 30px; height:auto;  border:4px solid #EF5337;  float:none; display:inline-block;text-align:left; }


#menu-res {display:none;}
#menu-toggle { display: none;}



/*Changes===*/
.youelife_section{ margin-top:20px !important; padding-left:15px !important;}
.widget_wraper h3{ color:#1E212B; font-size:16px; margin:0px; padding:10px 15px; }
#menus{min-height:1080px;}
.show-row{text-align:right; color:#666; clear: both;}
.agree-wrap { width: 24.3%;  display: inline-block; vertical-align: top; padding: 10px 6px 10px 15px;}
.check-id{border: 2px solid #eee; overflow: hidden; border-radius: 4px; padding:10px; min-height:220px;}
.loading-img{margin:20px 0px;}
.loader-data{display:block; border:1px solid #ccc; margin-top:10px; text-align:center;}

/*Custom CSS*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        -webkit-appearance: none;
        border-radius: 25px;
        overflow: hidden;
        height: 30px;
        background-color: #8f8d8d;
        margin-bottom: 0px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 0px 20px 20px 0px;
        /*padding: 0px 16px 0px 0px;*/
    }
    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #EF5337;
        background-image: url(../images/progressbar_icon.png);
        background-repeat: no-repeat;
        background-position: 0px 7px;
        height: 30px;
        width: 25px;
        border: 1px solid #EF5337;
        border-radius: 25px;
        box-shadow: -100vw 0 0 99vw #EF5337;
        padding: 0px 10px 0px 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
    }
}


/** FF*/

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}

input[type="range"]:focus {
    border: none;
    outline: none;
}

 input[type="submit"]:focus {
    border: none;
    outline: none;
    color: black !important;
} 

/* IE*/

input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}

.signup-txt { padding-top:0px;}
.loin_btn { margin-bottom: 20px;}
.btn{margin-bottom: 20px;}
.hideDiv{ display: none;}
.profileImg{ border: 3px solid #fff; border-radius: 360px; width: 100%; height: 100%;}
tbody>tr{ cursor:pointer;}
.chkBox{ margin-right: 5px;}
.login_right img{ margin-top: 24px;}
.ssl{ width: 30%;margin-left: 54px;}
.soc{ margin-left: 60px; width: 19%;}
.skipCrsk{ padding-left: 0px; text-decoration: underline;}
.range-left{ padding-left: 10px; padding-top: 5px;}
.range-right{ padding-right: 10px; padding-top: 5px;}
.small-spinner{ width: 16px !important; height: 16px !important; position: relative; float: right;}
.doc-txt a { display: inline-block;}
.token-msg{ color: #ef5337; font-weight: bold;}
.cursor-default{ cursor: default;}
.manual-underwriting{ margin:0px auto; padding:0px 0px 15px; height:auto; text-align:center; display:block;}
.manual-underwriting p{ width:100%; margin:20px 0px 10px ; padding:15px 50px 15px 50px; text-align:left; background-color:#fff; border:1px solid #ccc; float:left; position:relative; font-size:18px;}
.manual-underwriting p img{ font-size:30px; position:absolute; top:10px; }
.manual-underwriting div{ float: none !important; display: block; text-align: center; margin: 0px auto;}
/*Custom CSS- end*/

@media only screen and (max-width:1366px) {
.doc-status { display: block; overflow: hidden; margin:28px 0px;}
.drag-icon {margin:50px 0px;}

.doc-img {display: block; vertical-align: middle; float: none; text-align: center;}
.status-d {display: block; float: none;text-align: center;}	
.up-head h5{font-size:14px;}
.brand_btn{font-size:15px;}
.contract-box {  min-height: 255px;}
/*Verification ==*/
.verify-box{margin-right:20px;}
.verify-head { min-height: 60px;}
.final-app li .span_right { font-size: 15px;}
.final-app li .span_left{font-size: 15px;}
}

@media only screen and (max-width:1024px) {
	 .dob_section label{ font-size:13px;}
	 .agreement_textleft h4 .fa{  right:10px;  }
	 .verify-box { margin-right: 0px;}
	 .agree-wrap { width: 33%;}
}


@media all and (max-width: 960px) { 
  .contain-wrapper { padding: 0 30px;  overflow: visible;}
 .right-application { float: none; padding:0px;}
  .contain-wrapper .sidebar { margin-right: 0;  width: 100%;}
  .right-application, .contain-wrapper .sidebar { padding-bottom: 0; margin-bottom: 0;}
  .contain-wrapper .sidebar {margin-bottom: 30px;  }
  
  
  .check-id{min-height: 270px;}
  .brand-detail {float: left; margin-top: 10px; margin-left: 54px; text-align: left;}
  .b-logo {float: left; height: 116px;  width: 116px;}
  .icon-l{top:35px;}
  .brand_btn { font-size: 16px; padding: 8px 15px; margin: 10px auto; font-weight: bold;}
  .brand-btns { float: right; margin: 10px auto;}
  .sidebar { border: 4px solid #ef5337 !important; border-top: 4px solid #ef5337 !important; margin-top: 29px; border-radius:17px !important;}
  .responsive-wrap{padding:0px;}
  
  
  .finalization_text,.submit-agreement{min-height:390px;}
  .success-agreement{min-height:390px;}
  .dis-agreement{min-height:390px;}	
  /*Responsive Menu===*/
#menu-res {
  cursor: pointer;
  display:block;
  text-align:right;
  padding:10px;
}
#menu-toggle {
  display: none;
}
#menus {
width:100%;	
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  min-height:auto;
}
#menu-toggle:checked + #menus {
  max-height: 900px;
}

.logo-text {
    line-height: 110px;
    font-size: 40px;
}
}



@media only screen and (max-width:768px) {
	
.login_wraper{margin-top:50px}
.status_wraper{ top:0px;}
.dailypemant_box {    margin-top: 30px;}
.remove_border{ border-right:none; padding-bottom:30px; border-bottom: 1px solid #EF5337;}
.textleft_midbox{ padding:0px;}
.widget_section { padding-right:0px}
.comminsion_btn { margin-top:10px;}
.comminsion_section { padding-top:10px;}
.application_wraper .bradcrms li { padding: 0px 3%;}
}
@media only screen and (max-width:767px) {
.brand_section{ display:none}
.mobile_profile_btn{ display:block;}
.maximize_text{ text-align:left;}
.status_wraper{ top:0px;}
nav.sidebar.navbar{float: left;width: 100%; min-height:auto !important;}
.navbar-inverse .navbar-brand {width: 100%;float: left;height: auto;}
.logout_btn {color: #fff;display: block;width: auto;float: right;padding: 15px 0px 10px 30px; background-position: left 12px;  }
.application_wraper .bradcrms li { padding: 0px 2%;}

/*Agreement page*/
.menu-list li a {font-size: 15px; font-weight: 600;  padding: 7px 18px;}
.header_staus li a{padding:0px 6px; font-size:15px;}
.contract-box{margin-bottom:20px;}


/*Verification page==*/
.verify-box {padding: 20px 9%;   margin-right: 0px; min-height: auto; margin-bottom: 40px;}
.verify-head {min-height: auto;}
.verify-img { display: block; overflow: hidden; margin: 17% 0px; min-height: auto;}
.verification-wrap{margin-top:40px;}



/*Finalization==*/
.finalization_text,.submit-agreement{min-height:auto; margin-bottom:50px;}
.finalization-wrap{margin-top:30px;}
.success-agreement{min-height:auto;}
.dis-agreement{min-height:auto;}



/*Link your account*/
.account_wrapper{padding: 20px 0px;}
.privacy-imgs div { text-align: center; display: inline-block; float: none; margin-right: 24px;}
.comman_applicationinner { margin: 0;  padding:6px 5px;}
.app-tab {font-size: 13px;}
.app-tab img {width: 71%;}
.tabs li{ padding:10px 2px;}
.comman_application_wraper {margin: 50px 0px 10px 2px; width: 98%;}
.tabs { margin: 20px 1px;}
.another_owner p { margin: 20px 0px 10px; }
.account-contain{padding:0px;}
.update-bx{float:none !important; text-align:center;}
.uploadfile_section { margin: 10px auto;  float: none; text-align:center;}
.upload_file{display:inline-block;}
.privacy-text{margin-top: 20px;}
.res-margin{margin-top:0px;}
.login_right{margin-left:0px; }
.main_login{padding:20px 12px;}

}




@media screen and (max-width: 640px) {

    #example {
      border: 0;
    }

    #example thead {
      display: none;
    }

    #example tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    #example td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
	  border-left:1px solid #ccc;
	  border-right:1px solid #ccc;
	  
    }

    #example td:last-child {
      border-bottom: 0;
    }

    #example td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
	
	
.table-responsive{border:none;}
.contain-wrapper { padding: 0 12px;  overflow: visible;}
.agree-wrap { width: 100%; padding:10px 15px;}

.logo-text { line-height:70px; font-size: 24px;}
.logo-text-account {line-height: 92px;}
}



@media only screen and (max-width:500px) {

.status_box .docsign_btn img{ width:30%}
.status_box .docsign_btn{ font-size:12px; padding:12px 10px }
.agreement_textleft h4 .fa {  right: -13px;}
.nav-tabs > li{ width:100%;}
.uploadfile_section { text-align:center; padding:20px 0px;}
.upload_file {margin: 0px auto;}
.application_wraper .bradcrms li { width:100%; padding:0px;}
.header_staus li a{ border-right:none}

/**/
.menu-list li {list-style: none; float: none; background: #a6aaa9; border-radius: 3560px; text-align: center; display: inline-block; text-align: center;  margin: 0px auto;}	
#me1, #me2, #me3, #me4{margin-right:1px;}
.menu-list{text-align:center;}
.header_staus li {margin: 0px; padding:4px 0px; float: none;display: inline-block; width: 49%;}	
.menu-list li a {font-size: 15px;font-weight: 600; width: 100px; height: 100px; line-height: 100px; text-align: center; padding: 0px; cursor: default;}
.b-logo { float: none; height: 80px; width: 80px;}
.icon-l { top: 24px; width: 26px; height: 26px; right: -28px;background-size: 100% 100%;}
.brand-detail { float: none; margin-top: 0px; margin-left: 0px; text-align: center;}
.brand_name{font-size:18px;}
.brand_email{font-size:15px;}
.brand-btns {float: none; margin: 0px auto;}
.logo-panel{margin-top:20px;}
.brand_btn { font-size: 14px; padding: 8px 36px; margin: 10px auto;}
#menu-wrap li label{font-size:15px;margin-bottom:0px;}
ul#menu-wrap li a { font-size: 15px;}

#menu-wrap .submenu li a{font-size:15px;}
.menu-wrap {display: block; border-top: 2px solid #EF5337; border-bottom: 2px solid #EF5337; padding-bottom: 30px; margin:20px 15px 10px 15px;}
.application_wraper{padding-top:0px;}

.comman_applicationinner { margin: 0;  padding: 6px 3px;}

}


@media only screen and (max-width:479px) {
	.acount_wraper_right h2 {font-size: 17px;}
	
	.menu-list li a {
    font-size: 14px;
    width: 90px;
    height: 90px;
    line-height: 90px;
}	


.header_staus li {
    margin: 0px;
    padding: 4px 9px;
    float: none;
    width: 100%;
    vertical-align: top;
    list-style: initial;
    list-style-type: initial;
	display: list-item;
}

.header_staus{padding:10px 20px;}


}

@media only screen and (max-width:480px){
.logo img { width: 100%;}	
.agree-text{padding:50px 20px;}
}


@media only screen and (max-width:340px){
.menu-list li a {
    font-size: 12px;
    width: 80px;
    height: 80px;
    line-height: 80px;
}	
}